APP_ENV=dev
APP_SHARE_DIR=var/share
APP_SECRET=0f86e3c85c840662a67305d35ec68f43
DEFAULT_URI=http://localhost

DATABASE_URL=
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
DB_PORT=

JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=



APP_ENV=dev
APP_SHARE_DIR=var/share
APP_SECRET=0f86e3c85c840662a67305d35ec68f43
DEFAULT_URI=http://localhost

DATABASE_URL="mysql://root:secret@172.21.0.2:3306/lancr?serverVersion=8.0&charset=utf8mb4"
MYSQL_ROOT_PASSWORD=secret
MYSQL_DATABASE=lancr
DB_PORT=3306

JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=8e83431ff93c2f2794f8f55ba7be5ac78a224baaf7b6410171d4bf0cffd63cb8
